body{
    margin: 0;
}

.home{
    background-color: #dbe2ef;
    width: 100%;
    height: 100%;
    position: fixed;
}

.login{
    position: relative;
    width: 30%;
    left: 60%;
    bottom: 30%;
}
.login-paper{
    margin: auto;
    padding: 5%;
    /* text-align: center; */
}
.signup{
    background-color: white;
    padding: 2%;
    text-align: center;
    position: relative;
    width: 35%;
    left: 25%;
    bottom: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading{
    color: #3f72af;
    position: relative;
    top: 200px;
    margin-left: 10%;
    width: 30%;
}
.footer{
    background-color: #f9f7f7;
    padding: 5%;
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}